/* NavBar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    text-decoration: none;
    width: auto;
    text-align: right;
    margin: auto;
    padding: 10px 10px 10px ;
}
li{
    display: inline-block;
    /* border: 1px solid red; */
    padding: 5px;
    /* margin-right: 10px; */
}
a{
    text-decoration: none;
   font-family: 'Source Sans Pro', sans-serif;
    margin-right: 10px;
    /* border: 1px solid red; */
    padding-right: 10px;
    color: #31326f;
    font-size: 20px;
    /* font-weight: bold; */
}

.navbar{
    /* border: 1px solid yellow; */
    position: fixed;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    box-shadow: 10px 5px 12px#999;
}
#cart-img{
    border: 1px solid tomato;
    width: 35px;
    
}
#cart-basket{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-right: 40px;
}
#qty{
    border: 1px solid red;
   place-content: center;
}
/* Search Box  */
.search-box {
    justify-content: center;
    align-self: center;
    display: flex;
    border: 2px solid #262626;
    line-height: 20px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    padding: 0px 10px 0px 10px;
    background-color: whitesmoke;
  }
  .search-txt {
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
    width: 170px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px 10px 5px 5px;
  }
  
/* MAIN BODY**************************************************************** */
.wrapper{
    height: auto;
   border: 1px solid red;
   padding: 50px;
}
.main-container{
    border: 1px solid green;
    border-radius: 5px;
    display: grid;
    box-shadow: 10px 5px 5px#999;
    grid-template-columns: 0.9fr 1fr ;
    grid-template-rows: 1fr;
    padding: auto;
    background-color: whitesmoke;
    place-items: center;
    margin: 20px;
    /* margin-bottom: 10px; */
    gap: 0.2rem;
    /* place-content: center;
    justify-content: center;
    align-content: center; */
}

 p{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
    color: #151515;
    
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    text-align: center;

}
.logo h2{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 25px;
    text-align: center;
    
}

.image-container {
    /* border: 1px solid yellow; */
    justify-items: center;
    /* border-right: 5px solid grey; */
    margin: 10px;
    padding: 20px;
    /* width: 500px; */
    margin-left: 40px;
}
.image{
    /* margin-left: 40px; */
    width: 250px;
    cursor: pointer;
}
.image:hover{
    width: 300px;
    transition: 0.6s;
}
.prod-container{
    /* border: 1px solid purple; */
    border-left: 3px solid grey;
    margin: 10px;
    padding: 20px;
    height: auto;
}
#add-tocart{
    background-color: #1597bb;
    color: white;
    padding: 10px;
    margin-top: 10px;
    /* margin-left: 250px; */
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    border: none;
}
#add-tocart:hover{
    color: white;
    background-color: seagreen;
    border-left:1px solid seagreen;
    transition: 0.5s;
}
#remove{
    background-color: #1597bb;
    color: white;
    margin-left: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    font-size: 15px;
}
#remove:hover{
    color: white;
    background-color: red;
    border-left: 1px solid red;
    transition: 0.5s;
}

@media screen and (max-width: 830px){
    .main-container{
        grid-template-columns: 0.7fr;
    }
    .navbar{
        width: 100%;
        height: auto;
        background-color: whitesmoke;
        box-shadow: 10px 5px 12px#999;
    }
    .prod-container{
        /* border: 1px solid purple; */
        border-top: 3px solid grey;
        border-left: none;
    }
    .image:hover{
      width: 250px;
    }

  
}