/* NavBar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    text-decoration: none;
    width: auto;
    text-align: right;
    margin: auto;
    padding: 10px 10px 10px ;
}
li{
    display: inline-block;
    padding: 5px;
}
a{
    text-decoration: none;
   font-family: 'Source Sans Pro', sans-serif;
    margin-right: 10px;
    padding-right: 10px;
    color: #31326f;
    font-size: 20px;
}

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    box-shadow: 10px 5px 12px#999;
}
#cart-img{
    width: 35px;
}
#cart-basket{
    display: flex;
    justify-content: center;
 
}
.qty{
   place-content: center;
   margin-right: 100px;
   font-size: 25px;
}
  
/* MAIN BODY**************************************************************** */
.wrapper{
    height: auto;
   padding: 50px;
}
.main-container{
    border-radius: 5px;
    display: grid;
    box-shadow: 10px 5px 5px#999;
    grid-template-columns: 0.9fr 1fr ;
    grid-template-rows: 1fr;
    padding: auto;
    background-color: whitesmoke;
    place-items: center;
    margin: 20px;
    gap: 0.2rem;
}

 p{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
    color: #151515;
    
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    text-align: center;

}
.logo h2{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 25px;
    text-align: center;
    
}

.image-container {
    justify-items: center;
    margin: 10px;
    padding: 20px;
    margin-left: 40px;
}
.image{
    width: 250px;
    cursor: pointer;
}
.image:hover{
    width: 300px;
    transition: 0.6s;
}
.prod-container{
    border-left: 3px solid grey;
    margin: 10px;
    padding: 20px;
    height: auto;
  place-content: center;
}
.add-tocart{
    background-color: #1597bb;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 200px;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    border: none;
}
.add-tocart:hover{
    color: white;
    background-color: seagreen;
    border-left:1px solid seagreen;
    transition: 0.5s;
}
.remove{
    background-color: #1597bb;
    color: white;
    margin-left: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    font-size: 15px;
}
.remove:hover{
    color: white;
    background-color: red;
    border-left: 1px solid red;
    transition: 0.5s;
   
}

/* Media Queries */

@media screen and (max-width: 830px){
    .main-container{
        grid-template-columns: 0.8fr;
    }
    .navbar{
        width: 100%;
        height: auto;
        background-color: whitesmoke;
        box-shadow: 10px 5px 12px#999;
    }
    ul {
        text-decoration: none;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    li{
        display: block;
        padding: 5px;
    }
    a{
        text-decoration: none;
       font-family: 'Source Sans Pro', sans-serif;
        color: #31326f;
        font-size: 20px;
    }
    #cart-img{
        display: inline-block;
    }
    .logo h2{
        font-size: 20px;
       text-align: center;
       margin-left: 140px;
       margin-top: 50px;
    }
    .qty{
        place-content: center;
        margin-right: 100px;
        margin-top: 80px;
     }
    .prod-container{
        border-top: 3px solid grey;
        border-left: none;
    }
    .image:hover{
      width: 250px;
    }
    .add-tocart{
        margin-left: 100px;
        margin-top: 20px;
        width: auto;
    }

  
}